root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true


[*.{html,css,js}]
indent_size = 2
indent_style = tab
insert_final_newline = false

[*.vue]
indent_size = 2
indent_style = tab
insert_final_newline = false

[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.{yml, yaml}]
indent_style = tab
indent_size = 4
insert_final_newline = false